/* challenge:

Using a mobile-first approach, make a webpage responsive in line with the following guidelines. In the hint tab, you'll find a link to boilerplate files to help get you started.

-Make the div elements 30% of the window size. Now make this change only for the devices that are wider than or equal to 992px

-Set the margin to 10px on all sides for each column for the devices that are wider than or equal to 992px

-Keep the full-size width for the devices below the 992px

-Remove the left and right margin for the devices below the 992px

-Remember to keep in mind the mobile-first approach

*/
.column {
    background-color: #e84610;
    border-radius: 3px;
    height: 100px;
    float: left;
    width: 100%;
    margin: 10px 0;
}

@media (min-width: 992px) {
    .column {
        margin: 10px;
        width: 30%;
    }
}